#image-container{
	overflow: hidden;
	position: absolute;
	margin-left: 55%;
	width: 45%;
	height: 100%;
	z-index = 10;
	clip-path: polygon(70% 0%,100% 0%,100% 100%,0% 100%);
}

#image-container > img{
}


#login-card{
	width: 400px;
	margin-top: 1em;
	background-color: transparent;
}

.card-header{
	background-color: transparent;
	font-size: 8em;
	border-color: white;
}

.card{
	border: none;
	font-family: 'Roboto', sans-serif;
}

body, html {
	background-color: #163040;
	height: 100%;
}

@media screen and (max-width: 768px){
	#image-container{
		width: 100%;
		height: 35%;
		bottom:	0px;
		clip-path: polygon(100% 0%,100% 0%,100% 100%,0% 100%);
		margin-left: 0;
	}	
}
